[Unit]
Description=Echo service
After=network-online.target

[Service]
ExecStart=/bin/bash /home/pi/Code/echo.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
